html,
.form-record{
    left: 20%;
    position: absolute;
    font-size: 14pt;
    top: 60px;
    width: 1500px;
}
.block{
    margin: 30px;
}
.block input{
    width: 300px;
}
.newblock{
    position: absolute;
    left: 50%;
    top: 10px;
}
.textarea{
    resize: none;
}
.disabled{
    height: 820px;
}
mat-form-field{
    width: 10px;
    font-size: 14px;
    left: 340px;
    top: 344px;
    position: absolute;
}
.block-check{
    left: 25px;
    position: relative;
}
button{
    position: relative;
    left: 450px;
}
select{
    width: 300px;
}