<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
    <div class="n_layout">
        <div class="n_nav_block">
            <div class="n_nav">Навигация</div>
        </div>
        <div class="n_label_block" routerLink="/appointment" routerLinkActive="active">
            <mat-icon class ="icon">calendar_today</mat-icon>
            <a class="n_label" >График приёма пациентов</a>
        </div>
        <div class="n_label_block" routerLink="/patient" routerLinkActive="active">
            <mat-icon class ="icon">account_box</mat-icon>
            <a class="n_label" >Осмотр пациента</a>
        </div>
        <div class="n_label_block">
            <br />
            <form method="post">
                <mat-icon class ="icon_exit">exit_to_app</mat-icon>
                <a class="n_label" (click)="logOut()">Выход из аккаунта</a>
            </form>
        </div>
    </div>
</nav>