html,
.t1 {
    table-layout: fixed;
}
.block{
    position: absolute;
    top: 100px;
}
h2{
    position: absolute;
    left: 900px;
}
.container{
    position: absolute;
    top: 500px;
}
fieldset{
    height: 825px;
    position:relative;
    width: 1450px;
    left: 50px;
    top: 50px;
}
